@charset "UTH-8";
/*
paleta de cores:
    verde: #49a09d
    lilás: #5f2c82

    https://www.youtube.com/watch?v=AKj3L3ouVAk&list=PLHz_AreHm4dkcVCk2Bn_fdVQ81Fkrh6WT&index=41


*/
:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
    /*
    todas as transofrmações e transições 
    ,devem ser colocadas no final do seletor
    */
}
section#login > div#imagem {
    display: block;
    background: #5f2c82 url('../imagens/predio.jpg');
    height: 200px;
    background-size: cover;
    background-position: left bottom;
      
}
section#login > div#formulario {
    padding: 10px;
    display: block;
}
/*
Outras Media Queries para o projeto
https://www.youtube.com/watch?v=Ec7Vu96wdpA&list=PLHz_AreHm4dkcVCk2Bn_fdVQ81Fkrh6WT&index=42

Criando o formulário de login
https://www.youtube.com/watch?v=htekZ2wA7Zo&list=PLHz_AreHm4dkcVCk2Bn_fdVQ81Fkrh6WT&index=43
*/

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}
div#formulario > p {
    font-size: 0.8em;
}
.campo > label {
    display: none;
}
.campo {
    background-color: var(--lilas);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid var(--lilas);
    
}

.campo span{
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
.campo > input {
    background-color: #59c7c3;
    font-size: 1em;
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    width: calc(100% - 45px);
    transform: translateY(-12px);/*Sempre utilizar o transform na ultima linha do seletor*/
}
.campo > input:focus-within{
    background-color: white;
}

/*
Aplicando estilo ao formulário de login
https://www.youtube.com/watch?v=JDS9ZLpoS6E&list=PLHz_AreHm4dkcVCk2Bn_fdVQ81Fkrh6WT&index=44
*/
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #377876 ;
}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-top: 5px;
    background-color: white;
    color: #377876;
    border: 1px solid #59c7c3;
    text-decoration: none;
    margin-top: 5px;

}
form > a.botao:hover {
    background-color: #59c7c3;
}

form > a.botao > span {
    font-size: 0.9em;
}

/*
Finalizando projeto tela de login
https://www.youtube.com/watch?v=c2PePX8joKc&list=PLHz_AreHm4dkcVCk2Bn_fdVQ81Fkrh6WT&index=45
*/

